@import url(//db.onlinewebfonts.com/c/221e88a3e872fdb19cdf5d76e2c26055?family=Eina03-Regular);
@import url('fonts/Bill\ Smith\ Demo.ttf');
@import url('fonts/Gobold\ Light\ Italic.otf');
.maincontainer{
    background-color: #F2EADA;
    height: 100vh;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
    border-radius:30px;

}
/**********************************CSS FOR NAV BAR ************************************************************/
.navbar{
    display:flex;
    align-items:center;
    padding:20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    ;

}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display:inline-block;
    list-style-type: none;
    color:#2a2a2a;

    
}
nav ul li{
    display:inline-block;
    margin-right: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color:#2a2a2a;
    margin-top:10px;


}
a{
    text-decoration: none;
    color:#2a2a2a;

}
/*****************************************************************1ST  SECTION***********************************/
.rowone{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left:165px;
}
.colone{
    flex-basis:50%;
    min-width: 300px;
}
.colone img{/**IMAGE*/
    width: 780px;
    height:680px;
    margin-top:-50px;
    margin-left:-150px;
    z-index:0;
    background:url('images/XMLID\ 8.png');
    background-repeat:no-repeat;

}
.btn1{/*SHOP NOW BUTTON*/
    display:inline-block;
    background-color: #FE412E;
    width: 150px;
    height:60px;
    border-radius: 18px;
    border:0px;
    color:#FFFCF6;
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.05em;
    margin-bottom:126px;

}
.btn2{/**LEARN MORE*/
    display:inline-block;
    margin-left:35px;
    width: 160px;
    height: 60px;
    background-color: #EEE9DF;
    color: #2A2A2A;
     font-family: 'Signika', sans-serif;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.05em;
    border-radius: 18px;
    border: 1px none;
    margin-bottom:126px;


}
.fashion{/***FASHION */
    margin-top:128px;
    margin-left: 135px;
    margin-right:135px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom:160px;

}
.colthree{/* COL FOR MAN AND WOMEN*/
    width: 518px;
    
}
.mtitle{/****MEN AND WOMEN SECTION HEADING**/
    font-family: 'Signika', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.1em;
    text-align: center;
    margin-top:0px;

}
.ptitle{/**MEN AND WOMEN DESCRIPTION**/
    margin-top:18px;
    font-family: Eina03-Regular;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom:60px;

}
.product{ /***OUR PRODUCT SECTION **/
    margin-left: 135px;
    margin-right:135px;
    margin-bottom:50px;
    border:0px solid;


}
.otitle{ /*** OUR PRODUCT TITLE**/
    font-family: 'Signika', sans-serif;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: left;

}
.ptext{ /***PRODUCT DESCRIPTION**/
    margin-top: 10px;
    font-family: Eina03-Regular;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color:#2A2A2A 60%;


}
.ibuttons{/** BUTTONS SECTION**/
    margin-bottom:82px;
    height: 55px;
    margin-left: 135px;
    margin-right:135px;
    outline:none;
    margin-bottom:82px;
    border:none;

}
 .ibtn{ /*** BUTTONS */
     margin-right: 65px;
     color: #2A2A2A 50%;
     height:55px;
     border-radius:13px;
     border:none;
     width:145px;
     background-color:white;
     border:none;
     outline:none;

    

 }
 .ibtn:hover{/*HOVER ON BUTTON*/
     background-color: #2A2A2A;
     color:white;

 }
 .cardsec{/****CARD SECTION **/
     margin-left:181px;
     margin-right:89px;
     border:0px solid;
     height:759px;
 }
 .imgsec{/***IMAGE IN CARD***/
     border:0px solid ;
     margin-top:50px;
     height:709px;

 }
 .imgsec:hover{/*** TRANSITION FOR IMAGE*/
     margin-top:0px;
 }
 .imgarea{ /***IMAGE*/
     margin-left:13px;
     margin-right:30px;
     height:490px;
     border-radius: 30px;
 }
 .imgades{/* DESCRIPTION SECTION*/
     margin-top:-92px;
     height:311px;
     border:1px solid #FFFCF6;
     border-bottom-left-radius:40px ;
     border-bottom-right-radius:40px ;
     background-color: #FFFCF6;

 }
 .dtitle{/****TITLE FOR IMAGE DESCRIPTION*/
     margin-top:114px;
     margin-left:33px;
     margin-right:34px;
     font-family: 'Signika', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.02em;
    text-align: left;

 }
 .ddes{/****DESCRIPTION FOR IMAGE DESCRIPTION*/

     margin-top:4px;
     font-family: Eina03-Regular;
     font-size: 15px;
     line-height: 28px;
     letter-spacing: 0em;
     text-align: left;
     margin-left:33px;
     margin-right:34px;
     color:#2A2A2A 60%;

 }
 .iprice{/**********PRICE*/
    font-family: Eina01-Bold;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    margin-left:33px;
    margin-right:34px;
    margin-top:17px;
    color:#2A2A2A;


 }
 .irating{/****RATING*/
     margin-top:10px;
     margin-left:65px;
     height:21px;
     width:147px;
 }
 .videoplayer{/* VIDEO PLAYER*/
     margin-top:178px;
     margin-left:135px;
     margin-right:135px;
     border:1px solid white;
     height: 765px;
     z-index:-1;
 }
 .about{/*ABOUT US*/
    margin-top:-130px;
    margin-left:530px;
    width:716px;
    height: 221px;
    border-radius:44px;
    z-index: 0;
    position: relative;
    background-color:white;
}
.atitle{/*ABOUT US TITLE*/
    margin-top:36px;
    margin-left:53px;
    font-family: 'Signika', sans-serif;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: left;

}
.ades{/*** ABOUT US DESCRIPTION*/
    margin-top:10px;
    font-family: Eina03-Regular;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    margin-left:53px;

}
 .caro{ /*CAROUSEL*/
     margin-top:180px;
     border:1px solid #fffcf6;
     height:812px;
     background-color: #FFFCF6;

 }
 .icaro{/*IMAGE IN CAROUSEL*/
     margin-top:78px;
     height:631px;
     margin-left:135px;
     margin-right:135px;
     border:1px solid #FFFCF6;
 } 

 .newsletter{ /* NEWS LETTER SECTION*/
     height:675px;
     border:0.1px solid;
     background-size: cover;
     width:100%;
     background:url("images/image\ 50\ 1.png");
     z-index: -1;
     background-size:100%;
     background-repeat: no-repeat;
 }
 .nt{ /* SUBSCRIPTION SECTION*/
     margin-left: 423px;
     margin-right: 423px;
     margin-top:221px;
     margin-bottom:215px;
     width:594px;
     height:239px;
 }
 .nlt{ /* SUBSCRIPTION TITLE*/
     font-family: 'Signika', sans-serif;

    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: center;
    color:white;
    width:100%;
 }
 .nltt{/*SUBSCRIPTION TEXT*/
    font-family: Eina03-Regular;
    font-size: 16px;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    color:white;
    
 }
 .inl{/* INPUT FIELD PLACEMENT*/
     margin-top:34px;
     display: flex; 
     justify-content: center; 
 }
 .inl{/* INPUT FIELD */
    width: 475px;
    height: 74px;
    border-radius:17px;  
    font-family: Eina01-Regular;
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
 }
 .sbtn{/*SUBSCRIBE BUTTON*/
    position: absolute;
    width: 157px;
    height: 62px;
    font-family: Eina01-Bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-align: center;
    color:#FFFFFF;
    background-color:#FE412E;
    height: 62px;
    width: 157px;
    border-radius: 17px;
    margin-left:312px;
    margin-top:6px;
    margin-bottom:6px;
    margin-right:6px;
 }
 .footer{/**FOOTER*/
     margin-left:94px;
     margin-right:94px;
     margin-top:97px;
     margin-bottom:47px;
     height:328px;
 }
 .colonetxt{/*1ST COLUMN*/
     font-family: 'Mulish', sans-serif;
    font-family: 'Signika', sans-serif;
    font-size: 24px;
    font-style: bold;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    margin-left:41px;

 }
 .coltxt{/**1st column text*/
     margin-left:41px;
     font-family: Eina03-Regular;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
 }
 .coltwotxt{/*2nd col txt*/
    font-family: 'Signika', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    
 }
 .coltwo{/* 2nd column*/
     margin-bottom:9px;
     margin-top:20px;
 }
 .colcall{/* calling details*/
    font-family: 'Signika', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-align: left;
    
 }
 .collastone{/*last column*/
    font-family: 'Signika', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    
 }
 .iicons{/*icons*/
     margin-top:20px;
     margin-bottom:20px;
 }
 .collasttxt{
    font-family: 'Signika', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: left;
    
 }
 
.imagec{/*carousel image*/
    position: absolute;
    width: 278.93px;
    height: 283px;
    margin-top:20px;
}
.cbtn{/*carousel buttons*/
    background-color:#FFCFC0;
    border-radius:50%;
    width:15px;
    height:15px;
    border:none;
    margin-right: 15px;
    margin-top:50px;
}
 .cbtn:focus{/*carous button clicks*/
    border: 1px solid #FE412E;
    background: url('images/Ellipse\ 197.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size:50% 50%;
    outline:none;
    
} 
.prenex{ /* previous button*/
    height:64px;
    width:64px;
    border-radius:5px;
    background-color:#FFCFC0;
    color:  #FE412E;
    outline: none;
    border:none;
    float:right;
    margin-right: 135px;



}
.prenex:focus{  /* previous button focus*/
    background-color:#FE412E;
    color: white;
    outline: none;
}
.prenext{/*next button*/
    height:64px;
    width:64px;
    border-radius:5px;
    background-color:#FFCFC0;
    color:  #FE412E;
    outline: none;
    border:none;
    float:right;
    margin-right:-200px;

}
.prenext:focus{/*next button focus*/
    background-color:#FE412E;
    color: white;
    outline: none;
}
.desclient{/* client section */
    margin-top:78px;
    justify-content: center;
}
.sclient{/**client 2nd heading*/
    text-align: center;
    margin-bottom: 10px;;
    font-family: 'Signika', sans-serif;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0em;
    margin-top:-20px;

}
.smclient{/* client description*/
    text-align: center;
    font-family: Eina03-Regular;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    margin-top:-10px;

}
.descri{ /* description*/
    margin-left:362px;
    font-family: Eina01-SemiBold;
    font-size: 30px;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    margin-top:110px;
    color:rgba( 127,127,127,1);
}
.authdes{/* author description*/
    margin-left:362px;
    margin-top:45px;
    font-family: Eina01-Bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.07em;
    text-align: left;
    color:rgba( 42,42,42,1);
}
.desauth{/*author description 2*/
    font-family: Eina01-Regular;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    margin-left:-362px;
    color:rgb(13,22,53,0.5);
 

}
.wf{/*winter fashion title*/
    font-family: "Sofia", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 0.1em;
    margin-top:111px;
    color: #FE412E;

}
.wfwt{/*winter fashion text*/
    /* font-family: Kelson Sans; */
    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 90px;
    letter-spacing: -0.01em;
    margin-top:12px;
    color: #2A2A2A;

}
.wfwtp{
    margin-top:24px;
    font-family: Eina03-Regular;
    font-size: 16px;
    line-height: 34px;
    color: rgba(42, 42, 42, 0.6);

}
.logos{/*css for icons*/
    margin-right:135px;
    align-items:center;

}
.form-container{/**login form and registration form*/
    background-color: #fff;
    width:300px;
    height:400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color:#555;
    cursor:pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
     position: absolute;
    top:50px; 
}
form input{
    width:100%;
    height: 30px;
    margin:10px 0;
     padding:0 10px;
     border:1px solid #ccc;


}
.lbtn{
        display:inline-block;
        background-color: #FE412E;
        width: 100%;
        height:30px;
        border-radius: 18px;
        border:0px;
        color:#FFFCF6;
        /* font-family: Kelson Sans; */
        font-family: 'Signika', sans-serif;

        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0.05em;

    
    
}
.rbtn{
    display:inline-block;
    background-color: #FE412E;
    width:80%;
    height:30px;
    border-radius: 18px;
    border:0px;
    color:#FFFCF6;
    /* font-family: Kelson Sans; */
    font-family: 'Signika', sans-serif;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.05em;
margin-top :10px  solid maroon;


}
.lbtn:focus{
    outline:none;
}
.lbtn:hover{
    background-color:#ce1e0e
}

.eline{
    color:#FE412E;
}
.rbtn:focus{
    outline:none;
}
.rbtn:hover{
    background-color:#ce1e0e
}
 a .href{
 color:#2a2a2a;
}
.vpro{/*view all collection*/
    float: right;
    margin-top: -35px;
    font-family: 'Signika', sans-serif;
    text-decoration: underline;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.1em;
    margin-right:30px;

}
.playbtn{/*play button*/
    float:right;
    margin-right:47px;
    margin-top:46px;
    height:130px;
    width:130px;
    border-radius: 100px;
    border:1px solid #FE412E;


}
.ipbtn{/*play button*/
    float:right;
    margin-right:60px;
    margin-top:60px;
    border-radius: 100px;
    border:1px solid #FE412E;
    outline:  1px solid #FE412E ;

}
